@import "~bootstrap/scss/bootstrap.scss";


.BigCounter div{
    display: inline-block;
    font-size:60px;
    line-height: 60px;
    background: #101010;
    color:white;
    padding: 15px;
    margin: 3px;

}

.BigCounter{
    background: blue;
    text-align: center;
}
